<h1>nouveau restaurant</h1>

<div class="form">

    <%= simple_form_for(@restaurant) do |r| %>
      <div class="form-input">
        <%= r.label :name, class:"label-naming"%>
        <%= r.text_field :name, class:"input-case" %>
      </div>

      <div class="form-input">
        <%= r.label :speciality, class:"label-naming"%>
        <%= r.text_field :speciality, class:"input-case"%>
      </div>

      <div class="form-input">
        <%= r.button :submit, class:"submit-button" %>
      </div>

    <% end %>
  

</div>